@model IEnumerable<CSVApp.Models.CSVModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List</h1>

   <form asp-controller="CSVModels" asp-action="CSVView" method="post" enctype="multipart/form-data">
    <p><input type="file" name="file" />
   </p>
    
    <button type="submit">Upload</button>
    </form>
    <hr />



<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index" ,new { sortOrder = "Name"})
            </th>
            <th>
                @Html.ActionLink("DateOfBirth", "Index" ,new { sortOrder = "DateOfBirth"})
            </th>
            <th>
                 @Html.ActionLink("Married", "Index" ,new { sortOrder = "Married"})
            </th>
            <th>
                @Html.ActionLink("Phone", "Index" ,new { sortOrder = "Phone"})
            </th>
            <th>
                 @Html.ActionLink("Salary", "Index" ,new { sortOrder = "Salary"})
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Married)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

